<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Hack TUA</title>
    {% block head %}{% endblock %}
</head>
<body>
    <div class="groups">
        <div class="form">
            {% block content %}{% endblock %}
        </div>
        <div class="pics">
            <img src="../static/piano.jpeg" alt="hero">
        </div>
    </div>
    <main>
    </main>
    <footer>
        <p>&copy; Hawk tuah 24. All rights reserved.</p>
    </footer>
</body>
</html>