{% extends 'base.html' %}
{% block content %}
<header>
    <a href="/"><h1 >Hack TUA</h1></a>
</header>
    <div class="hero">
        <h1>Access music.</h1>
    </div>
    <form method="POST" action="/download" onsubmit="showLoadingScreen()">
        <label for="url">Enter URL:</label>
        <input type="text" id="url" name="url" required><br>

        <label for="url">Time Signature:</label>
        <input type="number" id="timesig" name="timesig" required><br>

        <label for="url">Tempo:</label>
        <input type="number" id="tempo" name="tempo" required><br>

        <input type="submit" value="Submit">
    </form>

    <!-- Loading Screen -->
    <div id="loading-screen" style="display: none;">
        <div class="loader"></div>
        <p>Loading, please wait...</p>
    </div>

    <script>
        function showLoadingScreen() {
            document.getElementById('loading-screen').style.display = 'block';
        }
    </script>
{% endblock %}
